<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>


<body>

    <div id="container">

           <div id="head">@Html.Partial("Kopfzeile")</div>

           <div id="containerMain">
               <div id="navigation">@Html.Partial("Navigation")</div>
               <div id="content">    @RenderBody()    </div>
               <div id="info">@Html.Partial("Info")</div>
           </div>

        <div id="footer">@Html.Partial("Footer")</div>
        
    </div>







</body>
</html>
